<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Cities</title>
  </head>
  <body>
    <div><h1>Search Cities</h1></div>

    <div><h1>at /suggestions?q={city name}</h1></div>
    <div>
      <a href="https://voopic-coding-challenge.herokuapp.com/suggestions?q=a"
        ><h1>Cities that start with A</h1></a
      >
    </div>
  </body>
</html>
