<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Cities</title>
  </head>
  <body>
    <h1>Search Cities at : /suggestions?value={city name}</h1>
    <input id="searchfield" type="text" placeholder="City Name" />
    <div id="match-list"></div>
    <script src="../service/service.js"></script>
  </body>
</html>
